[Unit]
Description=PingWeave - High-resolutional end-to-end RoCE/Infiniband/TCP network monitoring tool 
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/pingweave/bin/pingweave 
WorkingDirectory=/pingweave
Restart=always
RestartSec=5s

# CPU and memory resource limit
CPUQuota=5%
MemoryMax=1G

# file and process limit
LimitNOFILE=1024
LimitNPROC=512

# stop & kill
TimeoutStopSec=10s
KillSignal=SIGTERM
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target