[Unit]
Description=PingWeave - Network monitoring tool for TCP/UDP/RDMA 
Requires=chronyd.service network-online.target
After=network.target network-online.target chronyd.service


[Service]
Type=simple
ExecStart=python3 /pingweave/src/pingweave.py 
WorkingDirectory=/pingweave
Restart=always
RestartSec=5s

# CPU and memory resource limit
CPUQuota=5%
MemoryMax=2G

# file and process limit
LimitNOFILE=1024
LimitNPROC=1024

# stop & kill
TimeoutStopSec=30s
KillSignal=SIGTERM
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target